@import "_colors.scss";
@import "_funcs.scss";

body {
	font-family: 'Open Sans', sans-serif;//Garamond
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	background: $darkGray;
	color: $lightGray;
}

a {
	text-decoration: none;
	font-size: 19px;
	@include transition(.4s ease-in-out);
	cursor: pointer;
	color: $gray !important;
	font-style: normal;

	&:hover {
		color: $blue !important;
		text-decoration: none;
		@include transition(.4s ease-in-out);
	}
}

.container-fluid {
	margin: 10px;
	line-height: 24px;
}
