@import "_colors.scss";
@import "_funcs.scss";

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	background: $darkGrey;
	color: $white;
}

a {
	text-decoration: none;
	@include transition(.4s ease-in-out);
	cursor: pointer;
	color: $white;
	font-style: normal;

	&:hover {
		color: $lightBlue;
		text-decoration: none;
		@include transition(.4s ease-in-out);
	}
}

.container-fluid {
	padding: 10px;
	line-height: 24px;
}
