@import "_config.scss";
@import "_header.scss";


.app {
  display: flex;
  flex-flow: row wrap;
}

.app > * {
  padding: 10px;
  flex: 1 100%;
}

.main {

}

.aside {

}

.aside-1 {
  // background: gold;
}

.aside-2 {
  // background: hotpink;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside {
	  max-width: 50px;
  }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

body {
  padding: 2em;
}
